$main-color = #b77087
$window-color = #1e090f
$window-color-darktheme = white
$top-navigation-color = #351a21
$top-navigation-color-darktheme = #351a21
$text-color = #e1e9f1
$text-color-darktheme = #111
$inactive-link-color = #a08e9a
$inactive-link-color-darktheme = #b187a1
$line-color = $top-navigation-color
$active-tab-background-color = #79384b5e
$focused-tab-background-color = #79384b5e
$active-tab-background-color-darktheme = #79384b5e
$focused-tab-background-color-darktheme = #79384b5e
$message-info-border-color = $top-navigation-color
$message-info-background-color = #79384a
$message-error-border-color = $top-navigation-color
$message-error-background-color = #79384a
$message-success-border-color = $top-navigation-color
$message-success-background-color = #79384a
$input-bad-border-color = $top-navigation-color
$input-bad-background-color = #2f141c
$input-good-border-color = $top-navigation-color
$input-good-background-color = #2f141c
$input-enabled-background-color = #2f141c
$input-enabled-border-color = $top-navigation-color
$input-enabled-text-color = $text-color
$input-enabled-text-color-darktheme = $text-color-darktheme
$input-disabled-background-color = #3b373a
$input-disabled-border-color = $top-navigation-color
$input-disabled-text-color = #a08e9a
$button-enabled-text-color = $text-color
$button-enabled-background-color = $main-color
$button-disabled-text-color = #a08e9a
$button-disabled-background-color = #3b373a
$post-thumbnail-border-color = $main-color
$post-thumbnail-no-tags-border-color = #F44
$default-tag-category-background-color = $active-tab-background-color
$new-tag-background-color = #DFC
$new-tag-text-color = black
$implied-tag-background-color = #FFC
$implied-tag-text-color = black
$tag-suggestions-header-color = #EEE
$tag-suggestions-border-color = $top-navigation-color
$duplicate-tag-background-color = #FDC
$duplicate-tag-text-color = black
$active-note-overlay-background-color = rgba(255, 255, 255, 0.3)
$active-note-overlay-border-color = rgba(62, 255, 62, 0.8)
$note-background-color = rgba(255, 255, 205, 0.3)
$note-border-color = rgba(0, 0, 0, 0.2)
$edited-note-background-color = rgba(222, 255, 222, 0.3)
$edited-note-border-color = rgba(0, 200, 0, 0.9)
$note-text-background-color = lemonchiffon
$note-text-border-color = black
$note-text-text-color = black
$first-note-point-color = orangered
$hovered-note-point-color = red
$hovered-first-note-point-color = red
$safety-safe = #88D488
$safety-sketchy = #F3D75F
$safety-unsafe = #F3985F
$scrollbar-thumb-color = $main-color
$scrollbar-bg-color = $input-enabled-background-color
$transparency-grid-square-color = #F0F0F0
